<AutomatedInstallation langpack="eng">
    <com.izforge.izpack.panels.HTMLInfoPanel id="UNKNOWN (com.izforge.izpack.panels.HTMLInfoPanel)"/>
    <com.izforge.izpack.panels.HTMLLicencePanel id="UNKNOWN (com.izforge.izpack.panels.HTMLLicencePanel)"/>
    <com.izforge.izpack.panels.TargetPanel id="UNKNOWN (com.izforge.izpack.panels.TargetPanel)">
        <installpath>/root/PURLZ-Server-1.6.4</installpath>
    </com.izforge.izpack.panels.TargetPanel>
    <com.izforge.izpack.panels.UserInputPanel id="UNKNOWN (com.izforge.izpack.panels.UserInputPanel)">
        <userInput>
            <entry value="8080" key="PURLPORT"/>
            <entry value="localhost" key="PURLHOST"/>
        </userInput>
    </com.izforge.izpack.panels.UserInputPanel>
    <com.izforge.izpack.panels.UserInputPanel id="UNKNOWN (com.izforge.izpack.panels.UserInputPanel)">
        <userInput>
            <entry value="hsqldb" key="DBSELECTION"/>
        </userInput>
    </com.izforge.izpack.panels.UserInputPanel>
    <com.izforge.izpack.panels.UserInputPanel id="mysqlauth">
        <userInput/>
    </com.izforge.izpack.panels.UserInputPanel>
    <com.izforge.izpack.panels.UserInputPanel id="UNKNOWN (com.izforge.izpack.panels.UserInputPanel)">
        <userInput> <entry value="&lt;allowTopLevelDomainAutoCreation/&gt;" key="TOPLEVELDOMAINAUTOCREATION"/>
            <entry value="&lt;allowUserAutoCreation/&gt;" key="USERAUTOCREATION"/>
        </userInput>
    </com.izforge.izpack.panels.UserInputPanel>
    <com.izforge.izpack.panels.PacksPanel id="UNKNOWN (com.izforge.izpack.panels.PacksPanel)">
        <pack name="Core" index="0" selected="true"/>
        <pack name="HSQLDB" index="1" selected="true"/>
        <pack name="MySQL" index="2" selected="false"/>
        <pack name="Javadoc" index="3" selected="false"/>
        <pack name="Source Code" index="4" selected="false"/>
    </com.izforge.izpack.panels.PacksPanel>
    <com.izforge.izpack.panels.InstallPanel id="UNKNOWN (com.izforge.izpack.panels.InstallPanel)"/>
    <com.izforge.izpack.panels.InfoPanel id="UNKNOWN (com.izforge.izpack.panels.InfoPanel)"/>
    <com.izforge.izpack.panels.FinishPanel id="UNKNOWN (com.izforge.izpack.panels.FinishPanel)"/>
</AutomatedInstallation>
